{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Register New User</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">User Registration Form</h3>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="text-danger">
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}