{% extends 'adminlte/base.html' %}
{% block navbar %}
    {{ block.super }}
    <div style="background-color: red; color: white; padding: 20px; position: fixed; top: 0; left: 0; z-index: 9999;">
        DEBUG: If you can see this, the adminlte/base.html changes are working!
    </div>
{% endblock %}

{% load static %}

{% block navbar_user %}
  <li class="nav-item dropdown user-menu">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
      <img src="{% static 'adminlte/img/user2-160x160.jpg' %}" class="user-image img-circle elevation-2" alt="User Image">
      <span class="d-none d-md-inline">{{ request.user.username }}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      <!-- User image -->
      <li class="user-header bg-primary">
        <img src="{% static 'adminlte/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        <p>
          {{ request.user.get_full_name }}
          <small>Member since {{ request.user.date_joined|date:"F Y" }}</small>
        </p>
      </li>
      <!-- Menu Footer-->
      <li class="user-footer">
        <a href="#" class="btn btn-default btn-flat">Profile</a>
        <a href="/accounts/logout/" class="btn btn-default btn-flat float-right">Sign out1</a>
      </li>
    </ul>
  </li>
{% endblock %}

{% block sidebar %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'admin:index' %}" class="brand-link">
      <span class="brand-text font-weight-light">Your Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'add_item' %}" class="nav-link">
              <i class="nav-icon fas fa-plus"></i>
              <p>Add Item</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
{% endblock %}

{% block content_header %}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{% block page_title %}{% endblock %}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            {% block breadcrumbs %}
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">{% block breadcrumb_active %}{% endblock %}</li>
            {% endblock %}
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <section class="content">
    <div class="container-fluid">
      {% block dashboard_content %}{% endblock %}
    </div>
  </section>


<!-- Chat Modal -->
    <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chatModalLabel">Chat with GPT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="chat-container">
                    <!-- Chat content will be loaded here -->
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        $('#chat-button').click(function() {
            $('#chatModal').modal('show');
            if ($('#chat-container').is(':empty')) {
                $('#chat-container').load('{% url "chat_partial" %}');
            }
        });
    });
    </script>

{% endblock %}